{% extends "apps/base.html" %}
{% load static %}
{% load main_extra %}
{% block logo %}
    {% if request.user.userbox.gender == 'male' %}
        <img src="{% static "/asset/image/b1.png" %}" id="banner-image" alt="">
    {% else %}
        <img src="{% static "/asset/image_gr/b1.png" %}" id="banner-image" alt="">
    {% endif %}
{% endblock logo %}
{% block page_content %}
    <!--content-->
    <div id="content" class="body_min_height">
        <section>
            <div class="container">
                {% if questions.results %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">عنوان سوال</th>
                            <th scope="col">حوزه اصلی</th>
                            <th scope="col">حوزه فرعی</th>
                            <th scope="col">عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for question in questions.results %}
                            <tr id="q_{{ question.id|to_hash_id }}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ question.subject|slice:"20" }}...</td>
                                <td>{{ question.category.title }}</td>
                                <td>{{ question.main_category.title }}</td>
                                <td class="action">
                                    {% if question.code_state == "022" or question.code_state == "023" %}
                                        <span style="color: #e92264">
                                            شما اجازه پاسخگویی ندارید
                                        </span>
                                    {% elif question.code_state == "122" or question.code_state == "123" %}
                                        <a class="btn btn-small btn-warning" onclick="pickQuestion('{{ question.id|to_hash_id }}')">
                                            اضافه کردن به میز کار
                                        </a>
                                        <a class="btn btn-small btn-success" onclick="getQuestion('{{ question.id|to_hash_id }}')">
                                            نمایش جزییات
                                        </a>
                                    {% else %}
                                        <span style="color: #369c1d">
                                            درحال پاسخگویی
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    {% include "blocks/pagination.html" with pagination_data=pagination_data %}
                {% else %}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 text-center col-md-offset-5" style="border: silver 1px solid; padding: 50px;">
                                <span>هیچ سوالی برای پاسخ گویی موجود نمی باشد.</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>

    <div class="modal fade" id="confirmQuestion" tabindex="-1" role="dialog" aria-labelledby="confirmQuestionModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="confirmQuestionModalLabel">جزییات سوال</h4>
                </div>
                <div class="modal-body">
                    <div class="section-title style-1 m-b-10">
                        <h3 class="title">
                            <span> عنوان: </span>
                        </h3>
                        <div class="product-text">
                            <p id="subject">عنوان سوال اینجا می باشد. </p>
                        </div>

                    </div>
                    <div class="section-title style-1 m-b-10">
                        <h3 class="title">
                            <span> توضیحات: </span>
                        </h3>
                    </div>
                    <p id="body"></p>

                </div>
                <div class="modal-footer no-border">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">بستن</button>
                </div>
            </div>
        </div>
    </div>

    <!--end content-->
{% endblock %}

{% block js_code %}
    <script type="text/javascript" src='{% static "asset/script/plugin/bootstrap-select.js" %}'></script>

    <script type="text/javascript">
        function pickQuestion(question_id) {
            $.ajax({
                url: '{% url 'pick_question' %}',
                type: 'POST',
                data: {
                    "question_id": question_id,
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                },
                success: function (data) {
                    if (data["message"] === "success") {
                        toastr.success('اضافه شد.');
                        $("#q_" + question_id + " .action").html(
                            '<span style="color: #369c1d">' +
                            'در حال پاسخ گویی' +
                            '</span>'
                        )
                    } else {
                        toastr.error('تایید نشد.');
                    }
                },
                error: function (data) {
                    toastr.error('لطفا بعدا سعی کنید.');
                }
            })
        }

        function getQuestion(question_id) {
            $.ajax({
                url: '{% url 'get_question' %}',
                type: 'GET',
                data: {
                    "question_id": question_id,
                    "csrfmiddlewaretoken": '{{ csrf_token }}'
                },
                success: function (data) {
                    $("#body").html(data["body"]);
                    $("#subject").html(data["subject"]);
                    $('#confirmQuestion').modal('show');

                },
                error: function (data) {
                    toastr.error('لطفا بعدا سعی کنید.');
                }
            })
        }
    </script>

    <!--for this page only-->
{% endblock %}
