{% extends "apps/base.html" %}
{% load static %}
{% block title %}سامانه عقیق|سوالات{% endblock %}
{% block logo %}
    {% if request.user.userbox.gender == 'male' %}
        <img src="{% static "/asset/image/b5.png" %}" id="banner-image" alt="">
    {% else %}
        <img src="{% static "/asset/image_gr/b5.png" %}" id="banner-image" alt="">
    {% endif %}
{% endblock logo %}

{%  block page_content %}
    <!--content-->
    <div id="content" class="body_min_height">
        <div class="container">
            {% if response_code == 201 %}
               <div class="alert alert-success">پرسش با موفقیت ثبت شد.</div>
            {% endif %}
            <form action="{% url 'hamraz_submit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <!--top field-->
                <div class="row m-b-15">
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <select name="category" id="category" title="حوزه سوال *" class="select_wait style-1">
                                {% for category_item in categories.results %}
                                <option value="{{ category_item.id }}">{{ category_item.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <div class="form-group">
                            <select name="sub_category" id="sub_category"
                                    title="زیر حوزه سوال *" class="select_wait style-1">
                            </select>
                        </div>
                    </div>
                </div>
                <!--end top field-->
                <!--text field-->
                <div class="form-group style-1 fix-label m-b-40">
                    <label for="question">عنوان سوال *</label>
                    <div class="input">
                        <input rows="4" id="subject" name="subject" class="form-control" />
                    </div>
                </div>
                <div class="form-group style-1 fix-label m-b-40">
                    <label for="question">
                        سوال خود را بطور کامل و واضح وارد نمایید *
                    </label>
                    <div class="input">
                        <textarea rows="4" id="question" name="question_body" class="form-control" ></textarea>
                    </div>
                </div>
                <!--end text field-->
                <!--file-->
                <div class="section-title style-1">
                    <h3 class="title" >
                        <span>فایل های سوال:</span>
                    </h3>
                </div>
                <div class="multi-file-content" data-name="files" data-type="activity-file">
                    <div class="activity-file-list m-b-30"></div>
                    <p class="text-center m-b-40">
                        <button type="button" class="btn btn-primary multi-file-choose">
                            افزودن فایل
                        </button>
                    </p>
                    <script type="text/template" id="" >
                        <div class="activity-file" data-number="">
                            <input type="file" name="files[]">
                            <span class="name">عنوان فایل در اینجا</span>
                            <span class="size persian_number">260 kb</span>
                            <button type="button" class="btn btn-warning">                                حذف
                            </button>
                        </div>
                    </script>
                </div>
                <!--end file-->
                <button type="submit" class="btn btn-warning">                   ثبت
                </button>
            </form>
        </div>
    </div>
    <!--end content-->
{% endblock %}
{% block js_plugins %}
<!--for this page only-->
<script type="text/javascript" src="{% static "asset/script/plugin/bootstrap-select.js" %}" ></script>
<script type="text/javascript" src="{% static "asset/script/plugin/picker.js" %}" ></script>
<script type="text/javascript" src="{% static "js/question.js" %}"></script>

{% endblock %}
