{% load static %}
{% load main_extra %}

<div class="activity-item">

    {% if activity.state == 'NEW' or activity.state == 'ACCEPT' or activity.state == 'SHR' or activity.state == 'BAN' %}
        <a href="{% url "single_activity" activity_id=activity.id|to_hash_id %}" class="image image_loader set_activity">
{#    {% elif activity.state == 'BAN' %}#}
{#        <a href="{% url "single_activity" activity_id=activity.id|to_hash_id %}" class="image image_loader set_activity">#}
    {% else %}
        <a href="{% url "activity_update" activity_id=activity.id|to_hash_id %}" class="image image_loader set_activity">
    {% endif %}
    {% if activity.school.id == request.user.userbox.school_id %}
        <span class="green">مدرسه من</span>
    {% endif %}

    {% if show_states %}
        {% if activity.general_comment and activity.state == 'SHE' %}
            <span class="red" style="top:50px;">رد شده</span>
        {% elif activity.state == 'NEW' or activity.state == 'SHR' %}
            <span class="green" style="top:50px;">در انتظار بررسی</span>
        {% elif activity.state == "SHE" %}
            <span class="red" style="top:50px;">در انتظار ویرایش توسط شما</span>
        {% elif activity.state == "ACCEPT" %}
            <span class="green" style="top:50px;">تایید شده</span>
        {% elif activity.state == 'BAN' %}
            {{ activity.state }}
            <span class="red" style="top:50px;">عدم رعایت ضوابط شیوه‌نامه</span>
        {% endif %}
    {% endif %}
    <div class="image_set"></div>
    <img data-src="{{ activity.image|server_public_url:"711x400" }}"
         data-target="image_set"
         onload="image_load(this,true)"
         onerror="image_load(this,false)">
    </a>
    <div class="content" style="height: 200px">
        {% if activity.state == 'NEW' or activity.state == 'ACCEPT' or activity.state == 'SHR' %}
            <a href="{% url "single_activity" activity_id=activity.id|to_hash_id %}?activity_year={{ activity.activity_year }}"><h4 class="title" {% if activity.title|length > 35 %}data-toggle="tooltip" data-placement="top"
                                                                                                                                    title="{{ activity.title }}"{% endif %}>{{ activity.title|truncatechars:35 }}</h4></a>
        {% else %}
            <a href="{% url "activity_update" activity_id=activity.id|to_hash_id %}"><h4 class="title" {% if activity.title|length > 35 %}data-toggle="tooltip" data-placement="top" title="{{ activity.title }}"{% endif %}>{{ activity.title|truncatechars:35 }}</h4></a>
        {% endif %}
        <ul>
            <li style="width: 100%;margin: 0;"><a href="{% url "league_single_school" school_id=activity.school.id|to_hash_id %}"><i class="fa fa-bank"></i><span>{{ activity.student.school.name }}</span></a></li>
            <li style="width: 100%;margin: 0;"><p><i class="fa fa-map-marker"></i><span {% if activity.location|length > 32 %}data-toggle="tooltip" data-placement="top" title="{{ activity.location }}"{% endif %}>{{ activity.location|truncatechars:32 }}</span></p></li>
            <li style="width: 100%;margin: 0;"><p><i class="fa fa-map-marker"></i><span>{{ activity.school.province.title }}-{{ activity.school.county.title }}</span></p></li>
            <li><i class="fa fa-eye"></i><span class="persian_number">{{ activity.view_count }}</span></li>
            <li><i class="fa fa-trophy"></i> <span class="persian_number">{{ activity.point_star.sum }}</span></li>
            <li><i class="fa fa-user"></i> <span class="persian_number">{{ activity.point_star.count }}</span></li>
        </ul>
    </div>
</div>