{% load static %}
{% load main_extra %}

<div class="league-item">
    <a href="{% url "league_single_school" school_id=school.id|to_hash_id %}">
        <!-- <div class="image">
            {% if request.user.userbox.gender == 'male' %}
            <div style="background-image: url({% static "asset/image/b2.png" %})"></div>
            {% else %}
            <div style="background-image: url({% static "asset/image_gr/b2.png" %})"></div>
            {% endif %}
        </div> -->
        <div class="content">
            <div class="top">
                <h4 class="title">
                    <span>{{ forloop.counter }}) {{ school.name }}</span>
                </h4>
                <span class="point">
                    <i class="fa fa-star"></i>
                    <span class="persian_number">{{ school.point }}</span>
                </span>
            </div>
            <ul class="info">
                <li><i class="fa fa-map-marker"></i><span>{{ school.province.title }} - {{ school.county.title }}</span></li>
                <li><i class="fa fa-arrow-circle-up"></i>فعالیت های در حال بررسی: <span>{{ school.count_in_queue_shr }}</span></li>
                <li><i class="fa fa-user"></i>فعالیت های درحال ویرایش دانش آموز: <span>{{ school.count_in_queue_she }}</span></li>
                <li><i class="fa fa-check"></i>فعالیت های تایید شده: <span>{{ school.count_in_queue_acc }}</span></li>
                <li><i class="fa fa-star-o"></i>رتبه مدرسه: <span>{{ school.rank }}</span></li>
            </ul>
        </div>
    </a>
</div>