{% extends "apps/base.html" %}
{% load static %}
{% block page_header %}{% endblock %}
{% block title %}سامانه عقیق | ورود{% endblock %}
{% block page_content %}
    <div class="wrapper">
        <div class="login-content body_min_height">
            <div>
                <div class="content text-center">
                    <div>
                        <h1 class="m-b-0 persian_number" style="font-size: 200px; color: #fff;">403</h1>
                        <p class="f-s-20 text-danger">شما دسترسی به این صفحه را ندارید.</p>
                        <a class="btn btn-warning" href="/">رفتن به صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_footer %}{% endblock %}