{% extends "apps/base.html" %}
{% load static %}
{% load main_extra %}

{% block title %}سامانه عقیق|جستجوی فعالیت{% endblock %}

{% block logo %}
    <img src="{% static "/asset/image/medal.png" %}" id="banner-image" alt="">
{% endblock logo %}
{% block page_content %}
    <!--content-->
    <div id="content" class="body_min_height">
        <section>
            <div class="container">
                <div class="row text-center" style="color: #FFAD17">
                    <h3 class="title">
                        <i class="fa fa-trophy"></i>
                        <span>برترین امتیاز بده بگیر های این ماه</span>
                    </h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        {% for student in students %}
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="card content-student">
                                    <a href="" target="_blank">
                                        <div class="content-overlay"></div>
                                        <img style="height: 260px" class="content-image" src="
                                                {% if not student.image %}
                                                    {% if request.user.userbox.gender_select == "male" %}
                                                        {% static "/asset/image/avatar_male.png" %}
                                                    {% else %}
                                                        {% static "/asset/image/avatar_female.png" %}
                                                    {% endif %}
                                                {% else %}
                                                    {{ student.image|server_public_url:"200x200" }}
                                                {% endif %}" alt="">
                                        <div class="content-details">
                                            <h3 class="title gold {{ forloop.counter|get_class }}">
                                                <i class="fa fa-trophy"></i>
                                                <span>رتبه {{ forloop.counter|get_persian_title_number }}</span>
                                            </h3>
                                            <p></p>
                                        </div>
                                    </a>
                                    <div class="card-block text-center">
                                        <h4 class="card-title">{{ student.first_name }} {{ student.last_name }}</h4>
                                        <span class="persian_number gold"> امتیاز : {{ student.point }}</span>
                                        <a class="card-text"
                                           href="{% url "league_single_school" school_id=student.school.id|to_hash_id %}">{{ student.school.name }}</a>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </section>
    </div>
    <!--end content-->
{% endblock %}

{% block js_plugins %}
{% endblock %}

