$header_blue: #6c4ccb;
$header_blue_light: #d3c4ff;
$header_blue_dark: #4b358e;
$header_orange: #ffae00;
$body_gray: #f0f0f0;

$footer_gray: #4d4d4d;
$footer_gray_light : #717171;

$activity_gray_lighter: #eee;
$activity_gray_dot: #cccccc;
$activity_gray_light: #ededed;
$activity_gray: #666666;
$activity_gray_dark: #333333;
$activity_gray_darker: #1a1a1a;
$activity_orange: #ffc640;
$activity_red_dark: #75060b;
$activity_red: #96380f;
$activity_blue_light: #4fdacf;
$activity_green: #409900;

$search_gray_light: #e6e6e6;
$search_gray_dark: #4c4c4c;

$input_border: #e4e4e4;
$input_border_gray: #808080;
$input_orange: $header_orange;
$input_orange_dark: #cc8b00;
$input_orange_light: #ffdf99;

$btn_primary: #6242bd;
$btn_green: #00a344;
$btn_green_light: #e5fff0;
$btn_gray: #b3b3b3;

$text_orange: #d60035;
$school_red: #ec0027;
$school_red_light: #edbec6;
$school_green: #00881a;
$school_green_light: #96d8a3;
$school_green_2: #88aa00;
$school_green_2_light: #d1de9b;
$school_green_3: #cac300;
$school_green_3_light: #ebe78d;
$picker_blue: #00bfff;
$medal_gray: #f7f7f7;
$calendar_gray: #dadada;

// delete btn
$red:#a30000;
$red_light:#ffe5e5;
$red_text:#fe0000;


